SetEnv APPLICATION_ENV development

RewriteEngine On

#RewriteRule ^\.htaccess$ - [F]
RewriteRule ^public/.*$ /public/index.php [NC,L]

RewriteCond %{REQUEST_URI} ^/donato/z/test/$
RewriteRule ^.*$ public/ [NC,L]

RewriteCond %{REQUEST_URI} !^/donato/z/test/$
RewriteRule ^(.*)$ /donato/z/test/public/$1

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]